body {
    /*font-family: 'Noto Serif', serif;*/
    /*font-family: 'Noto Serif JP', serif;*/
    /*font-family: 'Playfair Display', 'Noto Serif JP', 'Noto Serif', serif;*/
    font-family: 'El Messiri', 'Playfair Display', 'Noto Serif JP', 'Noto Serif', serif;
}
.fl {  display: flex  }
.flcl {  display: flex;  flex-direction: column;  }
.flctr {  display: flex;  justify-content: center;  }
.w100 {  width: 100%  }
.w50 {  width: 50%  }
.m-auto {  margin: auto  }
.mt-0 {  margin-top: .5rem  }
.mt-1 {  margin-top: 1rem  }
.mt-2 {  margin-top: 2rem  }
.mt-3 {  margin-top: 3rem  }
.mt-4 {  margin-top: 4rem  }
.ml-0 {  margin-top: .5rem  }
.ml-1 {  margin-top: 1rem  }
.ml-2 {  margin-top: 2rem  }
.ml-3 {  margin-top: 3rem  }
.ml-4 {  margin-top: 4rem  }
.mx-0 {  margin-left: .5rem;  margin-right: .5rem;  }
.mx-1 {  margin-left: 1rem;  margin-right: 1rem;  }
.mx-2 {  margin-left: 2rem;  margin-right: 2rem;  }
.mx-3 {  margin-left: 3rem;  margin-right: 3rem;  }
.mx-4 {  margin-left: 4rem;  margin-right: 4rem;  }
.sp-ev {  justify-content: space-evenly  }
.fonted {  font-family: 'El Messiri', 'Playfair Display', 'Noto Serif JP', 'Noto Serif', serif;  }
/*#sitename {  margin-top: 12px;  }*/
#sitename a {  display: flex;  }
#sitename a img {  height: 39px;  width: 250px;  }
.textwidget .name._wr {  font-size: 2rem;  margin-top: 2.5rem;  }
.aside._sns .fab {  font-size: 3.4rem;  color: #ffffffbf;  }
.aside._img.__cnt {
    width: 13rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.aside._name.__wr {
    font-size: 1.5rem;
    margin-top: 2.5rem;
}
.aside._name .__cnt {
    margin-left: .65rem;
    margin-right: .65rem;
    letter-spacing: .3em;
}
.aside._prof.__wr {
    width: 67%;
    margin: 2rem auto;
    color: #ffffffbf;
    letter-spacing: .02em;
    font-size: 1.3rem;
}
.aside._sns.__wr {  width: 67%;  margin: auto;  margin-top: 3.4rem  }
.aside._contact.__wr {  width: 67%;  margin: auto;  justify-content: flex-end  }
.aside._contact.__cnt:before {  content: "\f101"; font-family: "Font Awesome 5 Free"; font-weight: bold; margin-right: .25rem  }
.date {
    font-family: "Fraunces", cursive;
    letter-spacing: 1px;
}
.lthumb._wr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lmeta._wr {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1.5rem;
}
.lmeta .meta {
    display: flex;
    flex-direction: row-reverse;
}
.lmeta .meta .category.items {
    margin-right: auto;
    margin-left: 1rem;
}
.lmeta .meta .category.items i,
.lmeta .meta .category.items a {  color: #51c7b2;  }
.lmeta .meta .date {
    opacity: .5;
}
/*.card-1 section {  display: flex  }*/
.card-1 section .term {  display: flex  }
section .meta .category.items a {  text-decoration: none; letter-spacing: 1px  }
#side .widget.widget_categories,
#col3 .widget.widget_categories,
#side .widget.widget_archive,
#col3 .widget.widget_archive {  letter-spacing: 1px  }

#side .widget.widget_categories .side-title,
#side .widget.widget_archive .side-title {  letter-spacing: 2px  }